<h1>This is the index page</h1>
<p>All posts gonna be shown here</p>



<% @posts.each do |post| %>
<p> <%= link_to(post.title, post_path(post.id)) %><br>
<%= post.created_at.strftime('%d %B %Y') %></p>
<% end %>