<h1>This is the index page</h1>
<p>All posts of <strong><%= @user.username%></strong> gonna be shown here</p>



<% @posts.each do |post| %>
<p> <%= link_to(post.title, user_post_path(@user.id, post.id)) %><br>
<%= post.created_at.strftime('%d %B %Y') %></p>
<% end %>