/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*
body {
	background-image: image-url('2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}


.img-index{
	height: 750px;
	color: white;
	
}
*/

body {
		font-family: 'Exo 2', sans-serif;
}

.title-field {
	width: 1200px;
}

.content-field {
	width: 1200px;
	height: 300px;
}

.buttons-white-font a {
	color: white;
	text-decoration: none;
}

li.del {
	color: red;
	font-weight: bold;
}

li.ins {
	color: green;
	font-weight: bold;
}

.diff li {
	list-style: none;
}

div.content {
	//background-color: #D2CDDC;
}

div.super {
	background-color: #A0DBA3;
	position:relative;
}

div.comment {
	margin-left: 20px;
	position:fixed;
	top: 50%;
	transform: translateY(-50%);
}

.main-content p span {
	margin-left: 20px;
	color: #719272;
}

@-webkit-keyframes pulse {
  0% {background-color: #FFFFFF;}
  100% {background-color: #A0F4A0;}
}

.main-content p.highline {
	border-radius: 5px;
	background-color: #FFFFFF;
	-webkit-animation: pulse 5s infinite alternate;
}

.btn-send-post a, .btn-udpate-post a {
	text-decoration:none;
}

.btn-category {
	background-color:white;
}

.btn-color-blue {
	color:#004CFF;
}

body.sites-index {
	background: image-url('background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	color: #22303A;
}

body.sites-index {
	background-color:#C0BEBF;
}

.sites-index .row > h1:first-of-type {
	margin-top: 0.5em;
	font-size: 12em;
	
	font-family: 'Exo 2', sans-serif;
	text-align:center;
}

.sites-index .row > h2 {
	margin-bottom: 1em;
	font-size: 8em;
	text-align:center;
}

.btns {
	margin-top:10em;
}

.btns button {
	width: 150px;
	font-size: 1.2em;
}

.description-post {
	height: 230px;
}

.thumbnail {
	margin: 5px;
}

.thumbnail:hover {

	border: 4px solid;

}

.tab-pane .posts {
	border-bottom: 1px solid #C0BEBF;
}

.nav-user {
	margin-top: 100px;
}

.requests-notices {
	margin-top: 150px;
	margin-right: -100px;
	margin-left: 60px;
}

#myRequests li {
	list-style:none;
	border-bottom: 1px solid #C0BEBF;
}

#myRequests div.accepted-req {
	margin-top: 20px;
}
